<app-sidebar></app-sidebar>

<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Productos</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted">
            Este módulo lista todos los productos de la tienda.
        </p>
    </div>
</div>

<form #clienteForm="ngForm">
    <div class="card box-shadow-sm">
        <div class="card-header">
            <h5 style="margin-bottom: 0px">Registro de producto</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label for="">Titulo de producto</label>
                            <input type="text" class="form-control" [(ngModel)]="producto.titulo" name="titulo"
                                placeholder="Titulo de producto" required />
                        </div>
                        <div class="col-lg-5 form-group">
                            <label for="">Stock</label>
                            <input type="number" [(ngModel)]="producto.stock" name="stock" class="form-control"
                                placeholder="Cantidad" required />
                        </div>
                        <div class="col-lg-5 form-group">
                            <label for="">Precio</label>
                            <input type="number" [(ngModel)]="producto.precio" class="form-control" name="precio"
                                placeholder="Precio" required />
                        </div>
                        <div class="col-lg-5 form-group">
                            <label for="">Categoría</label>
                            <select [compareWith]="compararCategoria" class="form-control custom-select"
                                [(ngModel)]="producto.categoria" name="categoria" required>
                                <option [ngValue]="undefined">Seleccionar</option>
                                <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{categoria.nombre}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-5 form-group">
                            <label for="">Marca</label>
                            <select [compareWith]="compararMarca" class="form-control custom-select"
                                [(ngModel)]="producto.marca" name="marca" required>
                                <option [ngValue]="undefined">Seleccionar</option>
                                <option *ngFor="let marca of marcas" [ngValue]="marca">{{marca.nombre}}</option>
                            </select>
                        </div>

                        <div class="col-lg-12 form-group">
                            <label for="">Descripción corta</label>
                            <ckeditor [editor]="Editor" [config]="{placeholder:'Tu contenido'}" name="descripcion"
                            [(ngModel)]="producto.contenido" required ></ckeditor>
                        </div>
                        <label for="">Contenido</label>
                        <ckeditor [editor]="Editor" [config]="{placeholder:'Tu contenido'}" name="contenido" required
                             [(ngModel)]="producto.descripcion"></ckeditor>

                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary mr-3" (click)="create()" *ngIf="!producto.id else elseBlock"
                [disabled]="!clienteForm.form.valid">
                Crear
            </button>
            <ng-template #elseBlock>
                <button class="btn btn-primary mr-3" (click)="update()" [disabled]="!clienteForm.form.valid">
                    Actualizar
                </button>
            </ng-template>
            <button [routerLink]="['/productos']" class="btn btn-danger">Regresar</button>
        </div>
    </div>
</form>