<!-- Navbar-->
<header class="navbar navbar-expand navbar-light fixed-top navbar-box-shadow bg-light px-3 px-lg-4" data-scroll-header
    data-fixed-element>
    <a class="navbar-brand d-lg-none"  [routerLink]="['/inicio']">
        <img src="assets/img/components/logo/tactical.png" alt="Tactical" width="130">
    </a>
    <button class="navbar-toggler d-block d-lg-none mr-3 ml-auto" type="button" data-toggle="offcanvas"
        data-target="componentsNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav ml-auto d-none d-lg-flex align-items-center">

        <li class="nav-item">
            <a class="nav-link py-0" *ngIf="!adminService.isAuntenitcated()" [routerLink]="['/login']" routerLinkActive="active">
                <i class="cxi-profile align-middle mt-n1 mr-2"></i>
                Cuenta
            </a>
        </li>
        <div *ngIf="adminService.isAuntenitcated()" class="dropdown">
            <button [routerLink]="['/']" class="btn btn-outline-secondary dropdown-toggle" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                {{adminService.usuario?.nombres}}
            </button>
            <div class="dropdown-menu dropdown-menu-dark">
                <a [routerLink]="['/cuenta/perfil']" routerLinkActive="active" class="dropdown-item">
                    <i class="ci-profile me-2"></i>
                    Perfil
                    <!-- <span class="badge rounded-pill bg-danger ms-2">3</span>-->
                </a>
                <button (click)="logout()" class="dropdown-item" type="submit">Cerrar Sessión</button>

            </div>
        </div>

    </ul>
</header>
<aside class="cs-offcanvas cs-offcanvas-expand bg-dark" id="componentsNav">
    <div class="cs-offcanvas-cap d-none d-lg-block py-4">
        <a class="navbar-brand py-2" [routerLink]="['/inicio']">
            <img src="assets/img/components/logo/tactical.png" alt="Tactical" style="box-shadow: rgba(210, 210, 247, 0.25) 0px 30px 60px -12px inset, rgba(233, 209, 209, 0.3) 0px 18px 36px -18px inset;" width="80">
        </a>
    </div>
    <div class="cs-offcanvas-cap d-flex d-lg-none">
        <div class="d-flex align-items-center mt-1">
            <h5 class="text-light mb-0 mr-3">Menu</h5>
            <span class="badge badge-warning">Docs</span>
        </div>
        <button class="close text-light" type="button" data-dismiss="offcanvas" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="d-flex d-lg-none align-items-center py-4 px-3 border-bottom border-light">
        <a class="btn btn-primary btn-block mr-3 px-4" href="index.html"><i class="cxi-eye mt-n1 mr-2"></i>Preview</a>
        <a class="btn btn-success btn-block mt-0 px-4" href="../components/typography.html"><i
                class="cxi-layouts mt-n1 mr-2"></i>Components</a>
    </div>
    <div class="cs-offcanvas-body px-0 pt-4 pb-grid-gutter" data-simplebar data-simplebar-inverse>
        <h6 class="font-size-lg text-light px-4 mt-2 mb-3">Contenido</h6>
        <hr class="hr-gradient hr-light mb-2 opacity-25">
        <nav class="nav nav-light">
            <a class="nav-link px-4 " [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a>
            <a class="nav-link px-4 " [routerLink]="['/clientes']" routerLinkActive="active">Clientes</a>
            <a class="nav-link px-4 " [routerLink]="['/productos']" routerLinkActive="active">Productos</a>
            <a class="nav-link px-4 " [routerLink]="['/cupones']" routerLinkActive="active">Cupones</a>
            <a class="nav-link px-4 " [routerLink]="['/categorias']" routerLinkActive="active">Categorias</a>
            <a class="nav-link px-4 " [routerLink]="['/contacto']" routerLinkActive="active">Mensajes</a>

        </nav>
    </div>
</aside>